* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.hero,
.footer {
  background-color: #1F2937;
  color: white;
}

.hero{
  height: 550px;
  padding-left: 100px;
  padding-right: 100px;
}
.header {
  display: flex;
  justify-content:space-between ;
  padding: 16px;
  margin-bottom: 60px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8
}

.links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.links ul li a {
  background: white;
  text-decoration: none;
  color: white;
  background-color: #1F2937;
}


.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;
}

.hero-content .text h1 {
  font-weight: bold;
  font-size: 48px;
  color: #F9FAF8;
}

.hero-content .text p {
  font-size: 18px;
  color: #E5E7EB
}

button {
  cursor: pointer;
  padding: 8px 36px;
  border-radius: 8px;

}

.hero-content button.sign-up-button {

  background: #3882F6;
  border: 1px solid #3882F6;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

img.hero-image {
  width: 550px;
  height: 230px;
}

.text {
  width: 450px;
}

.information {
  text-align: center;
  margin-bottom: 100px;
}

.information .title h1 {
  font-weight: bold;
  font-size: 36px;
  color: #1F2937;
  margin-bottom: 35px;
  margin-top: 20px;
}

.information img {
  width: 145px;
  height: 145px;
  border-radius: 8px;
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.grid {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 12px;
}

.pictures p {
  width: 150px;
  margin-top: 10px;
}
.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #E5E7EB;
  color:#1F2937;
  font-size: 36px;
  padding-top: 80px;
  padding-bottom: 30px;
}

.quote .text{
  width: 820px;
  font-style: italic;
}
.author{
  font-weight: bold;
  align-self: flex-end;
  width: 630px;
}